# Pandas, data frames and making nice figures with Seaborn (and Matplotlib)
[the official homepage](https://pandas.pydata.org)

In [ ]:
import pandas as pd
pd.test()

## import libs

In [ ]:
from pandas import DataFrame, read_csv
import matplotlib as plt
import pandas as pd 

# also define the default font we'll use for figures. 
fig_font = {'fontname':'Arial', 'size':'20'}

## Make a data set that we can play with, will import some real data later on
* just make up some stuff here...lets say responses in 5 different neurons to different stimuli

In [10]:
# dependent variables - 5 neurons...
neurons = ['Nrn1','Nrn2','Nrn3','Nrn4','Nrn5','Nrn6','Nrn7','Nrn8','Nrn9','Nrn10']  

# independent variables...responses in Hz
resp_hz = [14, 27, 62, 88, 45, 56, 75, 63, 33, 46]

## New - use 'zip' function to wrap up the data from each list into one list
[reference](https://www.w3schools.com/python/ref_func_zip.asp)

In [11]:
neuron_data = list(zip(neurons, resp_hz))

## Make a dataframe object to hold the contents of the data set

In [19]:
df = pd.DataFrame(data = neuron_data, columns = ['neurons', 'resp'])

# take a look at the nice output here...
df

  neurons  resp
0    Nrn1    14
1    Nrn2    27
2    Nrn3    62
3    Nrn4    88
4    Nrn5    45
5    Nrn6    56
6    Nrn7    75
7    Nrn8    63
8    Nrn9    33
9   Nrn10    46

## Now we can analyze the data (simple analyses) using the df object